<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <form>
    <input type="text" id="input-login" name="login" placeholder="Логин">
    <input type="text" id="input-password" name="password" placeholder="Пароль">
    <button type="submit">Войти</button>
  </form>
</body>
</html>